# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Python
__pycache__/
*.pyc
.env

# Secrets
*.key
*.pem

# Python virtual environments
.venv/
venv/
ENV/

# VS Code settings
.vscode/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

# IDE specific files
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
